.instaimg img {
    margin-right: 10px;
}

.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkid-opacity: 0.8;

}

img-fluid {}

/*Instagram Thumbnails */

.img-thumbnail {
    width: 450px;
    height: 200px;
}

/* Background Color */

.bg-WVPrimary {
    background-color: #fcb040;
}

.bg-WVSecondary {
    background-color: #7c835e;
}



/*typeography*/

h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 5.5em;
}

h3 {
    font-size: 5.5em;
}

.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed deeppink;
    width: 10em;
    text-align: center;
}

.text1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 10px;
    padding-bottom: 10em;
}

.carousel-caption {
    position: absolute;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .9);
    font-size: 17px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed deeppink;



}


.pargraph {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed deeppink;

    text-align: center;
}



#instafeed {
    background-color: #683025;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed deeppink;
}

.bg-WVInstaback {
    background-image: url(../img/img3.jpg);
    background-size: 100%;
}


/*######################################*/

/* Carousels */

/*######################################*/

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background-color: aqua;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(2) {
    background-color: darkgreen;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    background-color: blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



/*######################################*/

/* Carousels */

/*######################################*/

/*######################################*/

/*gallery Testing About CSS Can Remove 
/*######################################*/

.container.gallery-container {
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #000;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */

.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}


#singlebutton {
    width: 200px;
    height: 50px;
}

/*######################################*/

/*gallery Testing About CSS Can Remove 
/*######################################*/

/*######################################*/

/*This is for the hero Main Page 
/*######################################*/

/* The hero image */

.hero-image {
    /* The image used */
    background-image: url("../img/hero3.png");
    height: 100vh;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */

.hero-text {
    color:#fcb040;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.logo1 {
    position: fixed;
    /* or absolute */
    left: 50%;
    transform: translate(-50%);
  width: 12%;

}

.btn-hero {
    width: 80px;
    height: 35px;
    background-color: #fcb040
}

@media screen and (min-width: 400px) {
    .logo1 {
        width: 55%;
    }
}


@media screen and (min-width: 970px) {
    .logo1 {
        width: 40%;
    }
}

@media screen and (min-width: 1170px) {
    .logo1 {
        width: 20%;
    }
}






/*######################################*/

/*This is for the hero Main Page 
/*######################################*/
