body {
    padding-top: 5vh;
}

.instaimg img {
    margin-bottom: 30px;
}

.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkid-opacity: 0.8;
        
}

img-fluid {
    
}
.img-thumbnail {
    width: 200px;
    height: 200px;
}